.alert{
    position: relative;
    padding: 0.95rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 1rem;
}

.alert-primary{
    background-color: var(--light-purple);
    color: var(--primary)
}
.alert-secondary{
    border: 1px solid rgba(0,0,0,0.1);
    color: var(--primary)
}
.alert-info{
    background-color: var(--light-blue);
    color: var(--primary)
}
.alert-warning{
    background-color: var(--light-yellow);
    color: var(--primary)
}
.alert-success{
    background-color: var(--light-green);
    color: var(--primary)
}

.alert-danger{
    background-color: var(--light-red);
    color: var(--primary)
}